.header-div{
    margin-top: 0px;
}
.header img{
    
    float:center;
    height:65px;
    width:65px;
    padding-right:2px; 
    
}


.header{  
  
    background-color:rgb(20, 8, 65);
    padding:45px 0 10px 30px;
    text-align:center;
    margin: 0;
    font-family:fantasy;
    /* font-size: 200px; */
}


.header a{
    
    font-family:Georgia, Times, 'Times New Roman';
    font-size: 25px;
    font-weight:700;
    letter-spacing: 7px;
    word-spacing: 7px;
}

a{
    color:white;
    text-decoration: none;
}

nav {
    
    background-color: black;
     border-top: 1px;    
    padding-bottom: 10px;
   
}

nav a{
    font-family: 'Fjalla One',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    padding:0 50px 0 50px;
    
   
}

nav a:hover{
    
    color:#2da1c4;
}
body {
    margin: 0px;
    /* background-color: #2980b9; */
}

.h1{

    color: black;
    font-family: 'Fjalla One',sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 20px;
    font-size: 21px;
    letter-spacing: 12px;
    word-spacing: 27px;
    text-align: center;
    
}

.container{
    
    height:1400px;
    width:1000px;
    margin:0 auto;
    background: rgb(145, 211, 145);
    padding-left: 20px;
    padding-right: 20px;
}
.form-container{
    
height: 1743px;
    
width:1000px;
    
margin:0 auto;
    
background: rgb(145, 211, 145);
    
padding-left: 20px;
    
padding-right: 20px;
}
.travel-container{
    
height: 7000;
    
width:1200px;
    
margin:0 auto;
    
background: rgb(145, 211, 145);;
    
padding-left: 20px;
    
padding-right: 20px;
}

.travel1-container{
    height: 2300px;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.Homepage-img{
    
    padding-top: 30px;
    padding: 0 0 0 150px;
}

p{
    margin: 0 0 24px;
    padding: 0;
}

body{
    background-color:rgb(126, 192, 207);
    color: #000;
    font-family: "Gotham A","Gotham B",sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.625;
}

#about{
    height: 510px;
    width: 600px;
    padding: 10px 0 10px 150px;
    
}

.destination{
    
    height: 400px;
    width: 400px;
  
}

.caption{
    
    font-size:16px;
}


.row {
  display: flex;
  padding-top: 10px;

}

.column {
  flex: 50%;                    
  padding: 5px;
  padding-right: 10px;
    
}

.row img:hover{
    transform: scale(1.05);
}
.table a{
    
    color:  #2da1c4;
    font-weight: 600;
    font-size: 20px;    
    
    
}
.table a:hover{
    
   color:black; 
 
}

.table {
    width:500px;
   border: 1px solid black;
    background: #f9f9f9;
}

.form{
    
height: 797px;
    
width: 571px;
    
background-image: url("C:\Users\Sacchin Adarsh\Desktop\Website\img\Contact.jpg");
    
margin:0 auto;
    
padding-left: 40px;
    
padding-top: 40px;
}
.form label{
    font-weight: 700;
    letter-spacing: 4px;
}
.form1{
    
height: 829px;
    
width:546px;
    
background-image: url("C:\Users\Sacchin Adarsh\Desktop\Website\img\Contact.jpg");
    
padding-left: 40px;
    
padding-top: 40px;
}
.form label{
    font-weight: 700;
    letter-spacing: 4px;
}

.form input{
    
height: 36px;
    
width: 504px;
    
font-size:16px;
    
background-color: lightgrey;
    
border-radius: 10px;

border:1px solid grey;
}

.form1 input{
    
height: 30px;
    
width: 200px;

font-size:16px;
    
background-color: lightgrey;

border:1px solid grey;
    
    border-radius: 10px;
}

#check{
    
    height:20px;
    width:20px;
}
button{
    
    background-color: lightgrey;
    color:black;
    height: 38px;
    width: 123px;
     font-family: "Gotham A","Gotham B",sans-serif;
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    border:1px solid grey;
    
    
}
button:hover{
    
    background-color: black;
    color:white;
    
}
 

.booking img{
    
float:center;
    
height: 481px;
    
width: 864px;
    
border: 2px solid white;
    
border-radius: 15px;
    
margin:0 auto;
    
margin-bottom: 30px;
}

.booking h2{
    
padding-left: 333px;
}



footer{
    padding: 2px 0 2px 0;
    text-align: center  ;
    background-color: black;
    color:white;
    font-family: "Gotham A","Gotham B",sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 4px;
    word-spacing: 5px;
    height: 34px;
}

select#Destination {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #f1f1f1;
    width: 200px;
    outline: none; /* Remove the outline when the select is focused */
    cursor: pointer;
}

/* Style the select options */
select#Destination option {
    background-color: #fff;
    color: #333;
    padding: 8px;
    font-size: 14px;
}

/* Style the select when it is hovered over */
select#Destination:hover {
    border-color: #2980b9;
}

.book-now-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 46%;
  }
  
  .book-now-button:hover {
    background-color: #1c7c99;
  }